div {
    font-family: Arial;
}

#flwnd {
    width: 800px;
}

.box {
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:20px;
    width: 100%;
}

.query {
    text-align:left;
    background-color: #89ccd6;
}

.query input {
    width: 50%;
}

.result {
    margin-top: 10px;
    background-color: #9cacad;
}

.result img {
    margin: 5px;
}

.result .pagination {
    text-align: center;
    margin-bottom: 20px;
}

.msgbox {
	position: absolute;
	top:5px;
	left:5px;
	background-color:#ccc;
	opacity:0.85;
	padding:10px;
}

.msgbox .cls {
	position: absolute;
	font-weight: bold;
	font-size:10px;
	color:red;
	text-decoration: none;
}

#backdrop {
	background-color: black;
	opacity: 0.7;
	width:100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	display:none;
	color: white;
}

img {
	cursor: pointer;
}

.fullImg {
	position: absolute;
	z-index:999;
	top:20px;
	left:20px;
}